[job-run "runner-ourairports"]
schedule = 10 5 * * 1
container = skyfollower-runner-ourairports

[job-run "runner-mictronics"]
schedule = 10 5 * * 2
container = skyfollower-runner-mictronics

[job-run "runner-standing-data"]
schedule = 10 6 * * 2
container = skyfollower-runner-standing-data

[job-run "runner-nz-caa"]
schedule = 10 5 * * 3
container = skyfollower-runner-nz-caa

[job-run "runner-no-caa"]
schedule = 10 6 * * 3
container = skyfollower-runner-no-caa

[job-run "runner-fr-dgac"]
schedule = 10 7 * * 3
container = skyfollower-runner-fr-dgac

[job-run "runner-au-casa"]
schedule = 10 7 * * 2
container = skyfollower-runner-au-casa

[job-run "runner-nl-ilt"]
schedule = 10 5 * * 4
container = skyfollower-runner-nl-ilt

[job-run "runner-us-faa"]
schedule = 10 5 * * 6
container = skyfollower-runner-us-faa

[job-run "runner-ca-transport-canada"]
schedule = 10 5 * * 7
container = skyfollower-runner-ca-transport-canada

[job-run "runner-flightaware"]
schedule = 5 */5 * * *
container = skyfollower-runner-flightaware
