[job-run "runner-ourairports"]
schedule = 10 5 * * 1
container = skyfollower-runner-ourairports

[job-run "runner-mictronics"]
schedule = 10 5 * * 2
container = skyfollower-runner-mictronics

[job-run "runner-standing-data"]
schedule = 10 6 * * 2
container = skyfollower-runner-standing-data

[job-run "runner-nz-caa"]
schedule = 10 5 * * 3
container = skyfollower-runner-nz-caa

[job-run "runner-no-caa"]
schedule = 10 6 * * 3
container = skyfollower-runner-no-caa

[job-run "runner-fr-dgac"]
schedule = 10 7 * * 3
container = skyfollower-runner-fr-dgac

[job-run "runner-br-anac"]
schedule = 10 8 * * 3
container = skyfollower-runner-br-anac

[job-run "runner-is-samgongustofa"]
schedule = 10 9 * * 3
container = skyfollower-runner-is-samgongustofa

[job-run "runner-lu-dac"]
schedule = 10 10 * * 3
container = skyfollower-runner-lu-dac

[job-run "runner-bz-bdca"]
schedule = 10 11 * * 3
container = skyfollower-runner-bz-bdca

[job-run "runner-au-casa"]
schedule = 10 7 * * 2
container = skyfollower-runner-au-casa

[job-run "runner-kr-koca"]
schedule = 10 8 * * 2
container = skyfollower-runner-kr-koca

[job-run "runner-md-caa"]
schedule = 10 14 * * 2
container = skyfollower-runner-md-caa

[job-run "runner-mv-caa"]
schedule = 10 15 * * 2
container = skyfollower-runner-mv-caa

[job-run "runner-me-caa"]
schedule = 10 13 * * 2
container = skyfollower-runner-me-caa

[job-run "runner-hu-kozhaf"]
schedule = 10 12 * * 2
container = skyfollower-runner-hu-kozhaf

[job-run "runner-mk-caa"]
schedule = 10 11 * * 2
container = skyfollower-runner-mk-caa

[job-run "runner-rs-cad"]
schedule = 10 10 * * 2
container = skyfollower-runner-rs-cad

[job-run "runner-pg-casapng"]
schedule = 10 11 1 * *
container = skyfollower-runner-pg-casapng

[job-run "runner-sg-caas"]
schedule = 10 10 1 * *
container = skyfollower-runner-sg-caas

[job-run "runner-sk-nsat"]
schedule = 10 9 * * 2
container = skyfollower-runner-sk-nsat

[job-run "runner-nl-ilt"]
schedule = 10 5 * * 4
container = skyfollower-runner-nl-ilt

[job-run "runner-ky-caa"]
schedule = 10 6 * * 4
container = skyfollower-runner-ky-caa

[job-run "runner-im-ardis"]
schedule = 10 7 * * 4
container = skyfollower-runner-im-ardis

[job-run "runner-es-aesa"]
schedule = 10 8 * * 4
container = skyfollower-runner-es-aesa

[job-run "runner-tc-caa"]
schedule = 10 9 * * 4
container = skyfollower-runner-tc-caa

[job-run "runner-bs-caa"]
schedule = 10 5 * * 5
container = skyfollower-runner-bs-caa

[job-run "runner-us-faa"]
schedule = 10 5 * * 6
container = skyfollower-runner-us-faa

[job-run "runner-ca-transport-canada"]
schedule = 10 5 * * 7
container = skyfollower-runner-ca-transport-canada

[job-run "runner-flightaware"]
schedule = 5 */5 * * *
container = skyfollower-runner-flightaware
