{
    "redis": {
        "host": "192.168.1.x",
        "port": 6379
    },
    "s3": {
        "bucket": "your-bucket-name",
        "region": "us-east-1",
        "access_key_id": "change_me",
        "secret_access_key": "change_me"
    },
    "athena": {
        "workgroup": "skyfollower",
        "database": "skyfollower",
        "table": "archive_flights"
    },
    "log_level": "info"
}
